*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: #212121;
  background-color: #f0f0f0;
}

header {
  padding: 60px 12px;
}

header img {
  display: block;
  width: 90vw;
  max-width: 400px;
  margin: 0 auto;
}

main {
  padding-bottom: 80px;
}

ol {
  padding: 24px;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
}

ol li {
  position: relative;
  padding: 24px;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;

  will-change: transform;
  transition: transform 150ms ease;
}

ol li:hover {
  z-index: 1;
  transform: scale(1.1);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
}

ol li a {
  text-decoration: none;
  color: inherit;
}

ol li img {
  display: block;
  width: 100%;
  height: auto;
}

ol li h1 {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

footer {
  padding: 80px 12px;
  text-align: center;
}

article {
  text-align: center;
}

article h1 {
  margin-bottom: 24px;
  font-size: 50px;
}
